{% extends "posts/layout.html" %}

{% block pre_post_content %}
<div class="col-md-4" style="word-wrap: break-word;">

	<h4><strong>@{{ post_user.username }}</strong></h4>
    Bio: {{ post_user.bio }}<br>
	{% if user.is_superuser and not post_user == user %}
			<a href="{% url 'accounts:delete' pk=post_user.pk %}" title="delete" class="btn btn-simple">
				<span class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span>
				<span class="text-danger icon-label">MODS: permaban</span>
			</a>
	{% endif %}

</div>
{% endblock %}

{% block post_content %}
<div class="col-md-8">
	{% for post in post_list %}
		{% include "posts/_post.html" %}
	{% endfor %}
</div>
{% endblock %}
